DATABASE_URL="postgresql://psa_app:psa_app_dev@localhost:5440/psa?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5440/psa?schema=public"
AUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
